{% for trick in tricks %}
    <div class="m-3">
        <div class="card h-100 shadow p-2 bg-white rounded-lg" style="width: 208px;">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <div class="absolute top-1 right-2">
                    <a class="badge bg-dark text-white" href="{{ path('app_trick_edit', { 'slug': trick.slug }) }}">
                        <i class="bi bi-pencil"></i>
                    </a>
                    {% if trick.publicationStatusTrick == 'Published' %}
                        <a class="badge bg-dark text-white" href="{{ path('app_trick_status', { 'slug': trick.slug,'publicationStatus': 'Unpublished' }) }}"
                           onclick="return confirm('Êtes-vous sûr de vouloir dépublier cette figure ?')">
                            <i class="bi bi-trash"></i>
                        </a>
                    {% else %}
                        <a class="badge bg-dark text-white" href="{{ path('app_trick_status', { 'slug': trick.slug,'publicationStatus': 'Published' }) }}">
                            <i class="bi bi-globe"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}
            <a href="{{ path('app_trick', { 'slug': trick.slug }) }}">
                {% if trick.pictures[0].pictureLink %}
                    <img class="card-img-top border object-cover" style="height: 190px;"
                         src="{{ asset('uploads/images/'~trick.pictures[0].pictureLink) }}"
                         alt="{{ trick.pictures[0].pictureName }}"/>
                {% else %}
                    <img class="card-img-top" src="{{ asset('assets/heroBanner.jpg') }}" alt="Image par défaut"/>
                {% endif %}
            </a>
            <div class="card-body p-0 text-center">
                <a class="my-3 card-link fw-bolder" href="{{ path('app_trick', { 'slug': trick.slug }) }}">
                    <h5 class="my-3 card-link fw-bolder">{{ trick.name }}</h5>
                </a>
            </div>
        </div>
    </div>
{% endfor %}
