{{ form_start(form, {'attr': {'class': 'form-styling'}}) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_row(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
    </div>

    <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_row(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
    </div>

    <div class="add-elements">
        <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded py-2 px-4 m-2" id="add_picture" data-collection="#pictures">Ajouter une Photo</button>
        <div id="pictures" class="flex flex-wrap py-2 justify-center">
            {% for picture in form.pictures %}
                <div class="w-1/3 p-1">
                    {{ include('trick/_picture_form.html.twig', {form: picture}) }}
                </div>
            {% endfor %}
        </div>

        <button type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded py-2 px-4 m-2 mt-auto" id="add_video" data-collection="#videos">Ajouter une Vidéo</button>
        <div id="videos" class="flex flex-wrap py-2">
            {% for video in form.video %}
                <div class="w-1/3 p-1">
                    {{ include('trick/_video_form.html.twig', {form: video}) }}
                </div>
            {% endfor %}
        </div>
    </div>

    <button class="bg-green-500 hover:bg-green-700 text-white font-bold rounded py-2 px-4 m-2 mt-auto">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form, {'render_rest': false}) }}
