{% for post in posts %}
    <li class="list-group-item flex items-center space-x-4 py-2">
        <img class="inline-block h-12 w-12 rounded-full object-cover" src="{{ asset('uploads/profiles/'~post.user.linkUserPicture) }}" alt="{{ post.user.username }}">
        <div>
            <p class="font-medium">{{ post.user }} - {{ post.createdAt|date("d/m/Y") }}</p>
            <p>{{ post.postContent }}</p>
        </div>
    </li>
{% endfor %}
