{% for post in posts %}
	<li class="flex items-center space-x-4 py-2 bg-white shadow rounded-lg overflow-hidden">
		<img class="inline-block h-12 w-12 rounded-full object-cover" src="{{ asset('uploads/profiles/'~post.user.linkUserPicture) }}" alt="{{ post.user.username }}">
		<div class="flex-1">
			<p class="font-medium">{{ post.user }}
				-
				{{ post.createdAt|date("d/m/Y") }}</p>
			<p class="text-gray-700">{{ post.postContent }}</p>
		</div>
	</li>
<style>
{# add border to textarea #}
textarea {
	border: 1px solid #e2e8f0;
}
</style>

{% endfor %}

