{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Modifier le trick : {{ trick.name }}
{% endblock %}

{% block body %}
	<div class="container mx-auto p-5">
		{% for flash_message in app.flashes('error') %}
    <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
        {{ flash_message }}
    </div>
	{% endfor %}
		<div class="bg-white shadow-md p-5 rounded-lg">
			<h1 class="text-2xl font-bold mb-5">Modifier le trick</h1>
			{{ include('trick/_form.html.twig', {'button_label': 'Modifier'}) }}

			<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg text-lg mt-5 inline-block" href="{{ path('app_trick_index') }}">Retour à la liste</a>

			{{ include('trick/_delete.html.twig') }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('trickAdd') }}
{% endblock %}


