{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Figures
{% endblock %}

{% block body %}
	<!-- Header -->
	{% set bgImage = '' %}
	{% for picture in trick.pictures %}
		{% if trick.pictures[0].pictureLink %}
			{% set bgImage = asset('uploads/images/'~trick.pictures[0].pictureLink) %}
		{% else %}
			{% set bgImage = asset('assets/heroBanner.jpg') %}
		{% endif %}
	{% endfor %}

	<div class="container mx-auto">
		<header id="header-image" class="bg-dark" style="background-image: url({{ bgImage }}); background-position: center; background-size: cover;">
			<div class="flex h-full">
				<div class="w-1/4"></div>
				<div class="w-1/2 self-center text-center text-white">
					<h1 class="text-4xl font-bold" style="text-shadow: 0px 2px 4px rgba(0,0,0,0.3);">{{ trick.name }}</h1>
				</div>
				<div id="btn-edition" class="w-1/4 self-start text-end">
					{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
						<a class="btn btn-dark text-white m-1" href="{{ path('app_trick_edit', { 'slug': trick.slug }) }}">
							<i class="bi bi-pencil"></i>
						</a>
						{% if trick.publicationStatusTrick == 'Published' %}
							<a class="btn btn-dark bg-dark text-white m-1" href="{{ path('app_trick_status', { 'slug': trick.slug,'publicationStatus': 'Unpublished' }) }}" onclick="return confirm('are you sure you want to unpublish this trick ?')">
								<i class="bi bi-trash"></i>
							</a>
						{% else %}
							<a class="btn btn-dark bg-dark text-white m-1" href="{{ path('app_trick_status', { 'slug': trick.slug,'publicationStatus': 'Published' }) }}">
								<i class="bi bi-globe"></i>
							</a>
						{% endif %}
					{% endif %}
				</div>
			</div>
		</header>

		<!-- Media Section -->
		<section id="box-media" class="flex flex-wrap justify-around items-center m-4">
			{% for picture in trick.pictures %}
				<div class="card m-2 p-2 rounded-lg shadow-lg" style="width: 250px;">
					<img class="card-img-top" src="{{ asset('uploads/images/'~picture.pictureLink) }}" alt="{{ picture.pictureName }}" style="height: 161px; object-fit: cover;"/>
					<div class="card-footer p-2 bg-transparent">
						<p class="text-center">{{ picture.pictureName }}</p>
					</div>
				</div>
			{% endfor %}

			{% for video in trick.video %}
				<div class="card m-2 shadow-lg" style="width: 250px;">
					<iframe width="250" height="161" src="https://www.youtube.com/embed/{{ video.videoLink }}" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
					<div class="card-footer p-4 bg-transparent">
						<div class="text-center">{{ video.videoName }}</div>
					</div>
				</div>
			{% endfor %}
		</section>

<!-- Description and Other Details -->
<div class="container p-4 m-2 shadow-md border bg-white rounded-lg">
	<div>
		<h5 class="font-semibold mb-2">Description :</h5>
		<p class="text-gray-800">{{ trick.description }}</p>
	</div>
	<div class="flex flex-wrap items-center mt-4">
		<h5 class="font-semibold mr-2">Catégorie :</h5>
		{% for category in trick.category %}
			<div class="mx-1 px-3 py-1 bg-blue-100 text-blue-800 rounded-full shadow-sm">{{ category.name }}</div>
		{% endfor %}
	</div>
	<div>
		<p class="text-gray-600">Créé le
			{{ trick.createdAt ? trick.createdAt|date('Y-m-d') : 'Non disponible' }}; Dernière mise à jour le
			{{ trick.modifiedAt ? trick.modifiedAt|date('Y-m-d') : 'Non disponible' }}</p>
	</div>
</div>



		<!-- Comments Section -->
		<div class="text-center m-3">
		{% if is_granted('ROLE_USER') %}
			<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg text-lg mt-5 inline-block" href="{{ path('app_trick_index') }}">Retour à la liste</a>
		{% else %}
<a class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg text-lg mt-5 inline-block" href="{{ path('app_trick_all') }}">Retour à la liste</a>
		{% endif %}
		</div>
		<h5 class="font-semibold text-lg">Commentaires :</h5>
		{% if is_granted('ROLE_USER') %}
			{{ form_start(form, {'attr': {'class': 'space-y-4 mt-4'}}) }}
			<div class="mt-4">
				{{ form_row(form.postContent, {'attr': {'class': 'block w-full mt-1 rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50'}}) }}
			</div>
			<button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
				Laisser un commentaire
			</button>
			{{ form_end(form) }}
		{% endif %}
		<br>
		<ul id="post-container" class="space-y-2">
			{{ include('trick/_postList.html.twig') }}
		</ul>

	</div>
{% endblock %}
