{% extends 'base.html.twig' %}

{% block title %}Figure{% endblock %}

{% block body %}
    <!-- En-tête -->
    {% set bgImage = "" %}
    {% for picture in trick.pictures %}
        {% if trick.pictures[0].pictureLink %}
            {% set bgImage = asset('uploads/images/'~trick.pictures[0].pictureLink) %}
        {% else %}
            {% set bgImage = asset('assets/heroBanner.jpg') %}
        {% endif %}
    {% endfor %}

    <div class="container mx-auto p-4">
        <header id="header-image" class="bg-cover bg-center">
            <div class="flex justify-center items-center h-full">
                <div class="text-center text-white">
                    <h1 class="text-4xl font-bold text-black">{{ trick.name }}</h1>
                </div>
            </div>
        </header>

        <!-- Médias -->
        <section id="box-media" class="hidden lg:flex flex-wrap justify-around items-center m-4">
            {% for picture in trick.pictures %}
                <div class="max-w-sm rounded overflow-hidden shadow-lg m-2">
                    <img class="w-full" src="{{ asset('uploads/images/'~picture.pictureLink) }}" alt="{{ picture.pictureName }}">
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">{{ picture.pictureName }}</div>
                    </div>
                </div>
            {% endfor %}

            {% for video in trick.video %}
                <div class="max-w-sm rounded overflow-hidden shadow-lg m-2">
                    <iframe class="w-full h-48" src="https://www.youtube.com/embed/{{ video.videoLink }}" title="Vidéo YouTube" allowfullscreen></iframe>
                    <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2">{{ video.videoName }}</div>
                    </div>
                </div>
            {% endfor %}
        </section>

        <div class="text-center m-3">
            <button id="btn-media" class="lg:hidden bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Afficher les médias</button>
        </div>

        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4"><p>Créé le : {{ trick.createdAt ? trick.createdAt|date('Y-m-d') : '' }}; Dernière modification : {{ trick.modifiedAt ? trick.modifiedAt|date('Y-m-d') : '' }}</p></div>
            <div class="mb-4">
                <h5 class="font-bold">Description :</h5>
                <p>{{ trick.description }}</p>
            </div>
            <div class="flex flex-wrap">
                <h5 class="font-bold mr-2">Catégorie :</h5>
                {% for category in trick.category %}
                    <div class="bg-blue-100 text-blue-800 px-4 py-2 rounded-full shadow-sm m-1">{{ category.name }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="text-center">
            <a class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded" href="{{ path('app_trick_index') }}">Retour à la liste</a>
        </div>

        <h5 class="font-bold mt-4">Commentaires :</h5>
        {% if is_granted('ROLE_USER') %}
            {{ form_start(form) }}
            {{ form_row(form.postContent) }}
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                Laisser un commentaire
            </button>
            {{ form_end(form) }}
        {% endif %}
        <ul id="post-container" class="list-group">
            {{ include('trick/_postList.html.twig') }}
        </ul>
        <div class="text-center">
            <button id="load-more-posts" data-slug="{{ trick.slug }}" data-offsetpost="{{ offsetpost }}"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-2">
                Charger plus
            </button>
        </div>
    </div>
{% endblock %}
